@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img{
    width: 100vw;
}

a{
    background-color: darkred;
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 15px;
    font-weight: bold;
    transform: translate(0%, -6%);
}

a:hover{
    background-color: rgb(255, 43, 43);
    font-size: 1.05em;
    transition: border .3s, font-size .3s;
    transform: translate(0%, -6%);
}

a:active{
    font-size: 1em;
    padding: 12px;
}
