@charset "UTF-8";
/* em HTML é id = em CSS é # 
   em HTML é class = em CSS é .
*/

body{
    text-align: justify;
    background-color: rgba(138, 255, 255, 0.521);
    font-family: 'Open Sans', sans-serif;
}

h1#principal{
    text-align: center;
    background-color: aqua;
    font-size: 2.2em;
}
.destaque{
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.1em;
}
